.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
}

.authLinks {
  padding: 0.5rem;
  text-align: center;
}

.socialAuthContainer {
  margin-bottom: 2rem;
  align-items: center;
}

.socialAuthButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.socialAuthButton {
  margin-top: 1rem;
  flex: 1;
  text-align: left;
}
